@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 96%;
    min-height: 100%;
  }

  body {
    @apply text-base;
    min-height: 100vh;
  }
}

.solver-progress {
  position: relative;
  width: 100%;
  height: 0.9rem;
  border-radius: 9999px;
  overflow: hidden;
  background-color: rgb(229 231 235);
}

.solver-progress__indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45%;
  left: -45%;
  background-image: linear-gradient(
    120deg,
    rgba(59, 130, 246, 0.4),
    rgba(59, 130, 246, 0.85)
  );
  animation: solver-progress-scroll 1s linear infinite;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.35);
}

@keyframes solver-progress-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300%);
  }
}
